@{
    ViewBag.Title = "Home Page";
}

@*<div style="position:fixed; ">
        <button id="rowBtn0" data-cuberow="0" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right cubeGroupRow"></button>
        <button id="rowBtn1" data-cuberow="1" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right cubeGroupRow"></button>
        <button id="rowBtn2" data-cuberow="2" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right cubeGroupRow"></button>
        <button id="rowBtn3" data-cuberow="3" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right cubeGroupRow"></button>
</div>*@
<div class="contentContainer">  
    <span id="btn-click">
        <button id="colBtn0" data-cubecol="0" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right cubeGroupCol"></button>
        <button id="colBtn1" data-cubecol="1" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right cubeGroupCol"></button>
        <button id="colBtn2" data-cubecol="2" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right cubeGroupCol"></button>
        <button id="colBtn3" data-cubecol="3" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right cubeGroupCol"></button>
    </span>
    <div class="gridContainer">
        <div id="cubeGroup0" class="demo cubeGroup"></div>
        <div id="cubeGroup1" class="demo cubeGroup"></div>
        <div id="cubeGroup2" class="demo cubeGroup"></div>
        <div id="cubeGroup3" class="demo cubeGroup"></div>
        <div id="cubeGroup4" class="demo cubeGroup"></div>
        <div id="cubeGroup5" class="demo cubeGroup"></div>
        <div id="cubeGroup6" class="demo cubeGroup"></div>
        <div id="cubeGroup7" class="demo cubeGroup"></div>
        <div id="cubeGroup8" class="demo cubeGroup"></div>
        <div id="cubeGroup9" class="demo cubeGroup"></div>
    </div>
</div>

<script src="~/Scripts/hexaFlip/hexaflip.js"></script>
<script src="~/Scripts/hexaFlip/hexaUtil.js"></script>
<script src="~/Scripts/homeIndex.js"></script>